body {
    font-family: 'Trebuchet MS', sans-serif;
}

#title {
    text-align: center;
}

#timeForm {
    padding: 10px;
}

#map {
    height:80vh;
}

#stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20vw;
}